# .env.example
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=crm_bulk
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MONGO_URI=mongodb://localhost:27017/crm_bulk

REDIS_HOST=localhost
REDIS_PORT=6379

PORT=3000

# Test databases (used by jest)
POSTGRES_DB_TEST=crm_bulk_test
MONGO_URI_TEST=mongodb://localhost:27017/crm_bulk_test
REDIS_DB_TEST=1
